node_modules
.next
out
.git
.gitignore
Dockerfile*
docker-compose*.yml
coverage
logs
uploads
.env*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
.eslintcache
*.swp
**/.DS_Store
prisma/dev.db*
backup*
.ngrok*

