# Auth
# https://authjs.dev/getting-started/migrating-to-v5#environment-variables
# https://authjs.dev/reference/core#secret
# pnpx auth secret to create a new secret

AUTH_URL = http://localhost:3000
AUTH_SECRET=



# Go to github and setup the oauth configuration
# https://github.com/settings/developers

AUTH_GITHUB_ID = 
AUTH_GITHUB_SECRET  = 

# In github add these values
# Homepage URL : http://localhost:3000
# Authorization callback URL : http://localhost:3000/api/auth/callback/github