[data-theme='discord'] {
  --background: oklch(0.994 0 0);
  --foreground: oklch(0 0 0);
  --card: oklch(1 0 180);
  --card-foreground: oklch(0.256 0 180);
  --popover: oklch(1 0 180);
  --popover-foreground: oklch(0.256 0 180);
  --primary: oklch(0.5772 0.2129 274);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.888 0 172.405);
  --secondary-foreground: oklch(0.216 0 180);
  --muted: oklch(0.9612 0 0);
  --muted-foreground: oklch(0.605 0 180);
  --accent: oklch(0.7037 0.1568 277.9576);
  --accent-foreground: oklch(1 0 180);
  --destructive: oklch(0.654 0.232 28.66);
  --destructive-foreground: oklch(1 0 180);
  --border: oklch(0.9401 0 0);
  --input: oklch(0.851 0 180);
  --ring: oklch(0.683 0 180);
  --chart-1: oklch(0.5772 0.2129 274);
  --chart-2: oklch(0.8726 0.0593 270.45);
  --chart-3: oklch(0.6792 0.1659 272.92);
  --chart-4: oklch(0.931 0.0312 269.69);
  --chart-5: oklch(0.7896 0.105 270.59);
  --sidebar: oklch(0.9761 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0.5772 0.2129 274);
  --sidebar-primary-foreground: oklch(1 0 180);
  --sidebar-accent: oklch(0.7037 0.1568 277.9576);
  --sidebar-accent-foreground: oklch(1 0 180);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.683 0 180);
  --font-sans: var(--font-google-sans-flex), ui-sans-serif, sans-serif;
  --font-serif: var(--font-google-sans-flex), ui-sans-serif, serif;
  --font-mono: var(--font-source-code-pro), ui-monospace, monospace;
  --radius: 0.75rem;
  --shadow-x: 0;
  --shadow-y: 8px;
  --shadow-blur: 12px;
  --shadow-spread: 2px;
  --shadow-opacity: 0.005;
  --shadow-color: #000000;
  --shadow-2xs: 0 8px 12px 2px hsl(0 0% 0% / 0);
  --shadow-xs: 0 8px 12px 2px hsl(0 0% 0% / 0);
  --shadow-sm: 0 8px 12px 2px hsl(0 0% 0% / 0.01), 0 1px 2px 1px hsl(0 0% 0% / 0.01);
  --shadow: 0 8px 12px 2px hsl(0 0% 0% / 0.01), 0 1px 2px 1px hsl(0 0% 0% / 0.01);
  --shadow-md: 0 8px 12px 2px hsl(0 0% 0% / 0.01), 0 2px 4px 1px hsl(0 0% 0% / 0.01);
  --shadow-lg: 0 8px 12px 2px hsl(0 0% 0% / 0.01), 0 4px 6px 1px hsl(0 0% 0% / 0.01);
  --shadow-xl: 0 8px 12px 2px hsl(0 0% 0% / 0.01), 0 8px 10px 1px hsl(0 0% 0% / 0.01);
  --shadow-2xl: 0 8px 12px 2px hsl(0 0% 0% / 0.01);
  --tracking-normal: 0em;
  --spacing: 0.275rem;
}

[data-theme='discord'].dark {
  --background: oklch(0.2195 0.0077 285.74);
  --foreground: oklch(0.9881 0 0);
  --card: oklch(0.2624 0.0093 285.74);
  --card-foreground: oklch(0.9881 0 0);
  --popover: oklch(0.246 0.007 248.122);
  --popover-foreground: oklch(0.983 0.004 348.851);
  --primary: oklch(0.5774 0.2091 273.85);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.888 0 172.405);
  --secondary-foreground: oklch(0.216 0 180);
  --muted: oklch(0.2387 0.0114 293.1598);
  --muted-foreground: oklch(0.689 0 164.055);
  --accent: oklch(0.6615 0.149 277.6548);
  --accent-foreground: oklch(1 0 180);
  --destructive: oklch(0.588 0.199 24.393);
  --destructive-foreground: oklch(1 0 180);
  --border: oklch(0.3089 0.0038 264.5091);
  --input: oklch(0.2568 0.0076 274.65);
  --ring: oklch(0.7157 0.1532 235.71);
  --chart-1: oklch(0.5772 0.2129 274);
  --chart-2: oklch(0.8726 0.0593 270.45);
  --chart-3: oklch(0.6792 0.1659 272.92);
  --chart-4: oklch(0.931 0.0312 269.69);
  --chart-5: oklch(0.7896 0.105 270.59);
  --sidebar: oklch(0.2452 0.0075 285.83);
  --sidebar-foreground: oklch(0.9881 0 0);
  --sidebar-primary: oklch(0.5774 0.2091 273.85);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6615 0.149 277.6548);
  --sidebar-accent-foreground: oklch(1 0 180);
  --sidebar-border: oklch(0.3089 0.0038 264.5091);
  --sidebar-ring: oklch(0.7157 0.1532 235.71);
  --shadow-color: oklch(0 0 0);
}
