[data-theme='zen'] {
  --background: oklch(0.9195 0.0169 88.003);
  --foreground: oklch(0.235 0 0);
  --card: oklch(0.953 0.0156 86.4257);
  --card-foreground: oklch(0.235 0 0);
  --popover: oklch(0.953 0.0156 86.4257);
  --popover-foreground: oklch(0.235 0 0);
  --primary: oklch(0.3012 0 0);
  --primary-foreground: oklch(0.9169 0.0175 99.616);
  --secondary: oklch(0.8647 0.0201 87.5232);
  --secondary-foreground: oklch(0.3012 0 0);
  --muted: oklch(0.834 0.0232 87.163);
  --muted-foreground: oklch(0.4688 0.0136 84.5932);
  --accent: oklch(0.9169 0.0175 99.616);
  --accent-foreground: oklch(0.3012 0 0);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8434 0.0231 87.1621);
  --input: oklch(0.8434 0.0231 87.1621);
  --ring: oklch(0.3012 0 0);
  --chart-1: oklch(0.6863 0.1743 34.2614);
  --chart-2: oklch(0.235 0 0);
  --chart-3: oklch(0.4688 0.0136 84.5932);
  --chart-4: oklch(0.7057 0.025 82.0932);
  --chart-5: oklch(0.834 0.0232 87.163);
  --sidebar: oklch(0.8985 0.0199 87.5195);
  --sidebar-foreground: oklch(0.235 0 0);
  --sidebar-primary: oklch(0.3012 0 0);
  --sidebar-primary-foreground: oklch(0.9169 0.0175 99.616);
  --sidebar-accent: oklch(0.9169 0.0175 99.616);
  --sidebar-accent-foreground: oklch(0.3012 0 0);
  --sidebar-border: oklch(0.8434 0.0231 87.1621);
  --sidebar-ring: oklch(0.3012 0 0);
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair-display), serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
    0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;
}

[data-theme='zen'].dark {
  --background: oklch(0.1913 0 0);
  --foreground: oklch(0.9173 0.0133 82.4015);
  --card: oklch(0.2264 0 0);
  --card-foreground: oklch(0.9173 0.0133 82.4015);
  --popover: oklch(0.2264 0 0);
  --popover-foreground: oklch(0.9173 0.0133 82.4015);
  --primary: oklch(0.852 0.0205 100.6306);
  --primary-foreground: oklch(0.3329 0 0);
  --secondary: oklch(0.252 0 0);
  --secondary-foreground: oklch(0.852 0.0205 100.6306);
  --muted: oklch(0.285 0 0);
  --muted-foreground: oklch(0.6348 0.0113 81.7875);
  --accent: oklch(0.3329 0 0);
  --accent-foreground: oklch(0.852 0.0205 100.6306);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2931 0 0);
  --input: oklch(0.2931 0 0);
  --ring: oklch(0.852 0.0205 100.6306);
  --chart-1: oklch(0.6863 0.1743 34.2614);
  --chart-2: oklch(0.859 0.0209 74.6369);
  --chart-3: oklch(0.6348 0.0113 81.7875);
  --chart-4: oklch(0.4681 0.0069 84.5829);
  --chart-5: oklch(0.3523 0 0);
  --sidebar: oklch(0.173 0 0);
  --sidebar-foreground: oklch(0.9173 0.0133 82.4015);
  --sidebar-primary: oklch(0.852 0.0205 100.6306);
  --sidebar-primary-foreground: oklch(0.3329 0 0);
  --sidebar-accent: oklch(0.3329 0 0);
  --sidebar-accent-foreground: oklch(0.852 0.0205 100.6306);
  --sidebar-border: oklch(0.2931 0 0);
  --sidebar-ring: oklch(0.852 0.0205 100.6306);
  --font-sans: var(--font-inter), sans-serif;
  --font-serif: var(--font-playfair-display), serif;
  --font-mono: var(--font-jetbrains-mono), monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 6px 15px 0px hsl(0 0% 0% / 0.3),
    0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow: 0px 6px 15px 0px hsl(0 0% 0% / 0.3),
    0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow-md: 0px 6px 15px 0px hsl(0 0% 0% / 0.3),
    0px 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-lg: 0px 6px 15px 0px hsl(0 0% 0% / 0.3),
    0px 4px 6px -1px hsl(0 0% 0% / 0.3);
  --shadow-xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.3),
    0px 8px 10px -1px hsl(0 0% 0% / 0.3);
  --shadow-2xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.75);
}

[data-theme='zen'] {
  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
}
